
.header .logo{
    height: 50px;
    
}

.nav{
    margin-left: 100px;
    margin-top: 50px;
    
}
.nav li{
    display: inline;
    margin-left: 50px;
  }
  
.nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .main-banner{
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;
    background-size: cover;
    max-width: 100%; 
}